@charset 'utf-8';
*{
    padding: 0px;
    margin: 0px;
}
.slider_item {
    font-size: 150px;
    line-height: 500px;
    text-align: center;
    font-weight: 100%;
    color:rgb(94, 94, 94);
}

.item1{
    background-color: aqua;
}
.item2{
    background-color: yellow;
}
.item3{
    background-color: rosybrown;
}
.item4{
    background-color: yellow;
}
